#
# FOR RUN ON UBUNTU LINUX >= 16.04
#

[Unit]
Description=Enforce Hostname
Before=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/SetHostname.sh
RemainAfterExit=yes
TimeoutStartSec=15


[Install]
WantedBy=multi-user.target
